<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>

<script>

window.addEventListener("message", function (event) {

	window.port = event.ports[0];

dump("WINDOW PORT: " + (typeof port.emit) + "\n");

	port.onmessage = function (event) {
dump("got message in panel:::1: " + event.data+ "\n");

dump("got message in panel:::2: " + JSON.stringify(event.data) + "\n");

//		port.postMessage("echo");
	};
});

</script>

</head>
<style type="text/css">
body {
  background-color: white;
}
</style>
<body>
<h1 id="header">Hello World from FirePHP Extension!</h1>
</body>
</html>
